@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #ffffff;
  color: #151515;
}

.fixedCenterX {
  left: 50%;
  transform: translateX(-50%);
}

.roboto-400 {
  font-family: roboto-400;
}

@font-face {
  font-family: roboto-400;
  src: url(../../public/Roboto-Regular.ttf);
}

.roboto-500 {
  font-family: roboto-500;
}

@font-face {
  font-family: roboto-500;
  src: url(../../public/Roboto-Medium.ttf);
}

.roboto-bold {
  font-family: roboto-bold;
}

@font-face {
  font-family: roboto-bold;
  src: url(../../public/Roboto-Bold.ttf);
}

.roboto-light {
  font-family: roboto-light;
}

@font-face {
  font-family: roboto-light;
  src: url(../../public/Roboto-Light.ttf);
}

.p1 {
  background-image: url(../images/p1.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.p2 {
  background-image: url(../images/p2.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.p3 {
  background-image: url(../images/p3.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.p4 {
  background-image: url(../images/p4.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.p5 {
  background-image: url(../images/p5.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.p6 {
  background-image: url(../images/p6.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.p7 {
  background-image: url(../images/p7.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.p8 {
  background-image: url(../images/p8.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.p9 {
  background-image: url(../images/p9.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.focus-content {
  margin-top: -120px;
  margin-left: -20px;
  width: 75%;
  height: 28%;
  opacity: 0;
  -webkit-transform: translate3d(50px, 0, 0);
  transform: translate3d(50px, 0, 0);
  -webkit-transition: all 250ms linear;
  -o-transition: all 250ms linear;
  transition: all 250ms linear;
  visibility: hidden;
  pointer-events: none;
  color: white;
  background: #101010;
}

.focus:hover + .focus-content {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.focus-content2 {
  margin-left: -25px;
  opacity: 0;
  -webkit-transform: translate3d(0, -10px, 0);
  transform: translate3d(0, -10px, 0);
  -webkit-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear;
  visibility: hidden;
  color: white;
}

.focus:hover + .focus-content2 {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.focus-content2:hover {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.focus-content3 {
  margin-left: -150px;
  opacity: 0;
  -webkit-transform: translate3d(0, -10px, 0);
  transform: translate3d(0, -10px, 0);
  -webkit-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear;
  visibility: hidden;
  color: white;
}

.focus:hover + .focus-content3 {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.focus-content3:hover {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.hks {
  background-image: url(../assets/partners/hks.webp);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.firma {
  background-image: url(../assets/partners/firma.webp);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.escritorios {
  background-image: url(../assets/partners/escritorios.webp);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
