@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #ffffff;
  color: #151515;
}

.roboto-400 {
  font-family: roboto-400;
}

@font-face {
  font-family: roboto-400;
  src: url(../../public/Roboto-Regular.ttf);
}

.roboto-500 {
  font-family: roboto-500;
}

@font-face {
  font-family: roboto-500;
  src: url(../../public/Roboto-Medium.ttf);
}

.roboto-bold {
  font-family: roboto-bold;
}

@font-face {
  font-family: roboto-bold;
  src: url(../../public/Roboto-Bold.ttf);
}

.roboto-light {
  font-family: roboto-light;
}

@font-face {
  font-family: roboto-light;
  src: url(../../public/Roboto-Light.ttf);
}

.p1 {
  background-image: url(../assets/p1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.p2 {
  background-image: url(../assets/p2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.p3 {
  background-image: url(../assets/p3.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.p4 {
  background-image: url(../assets/p4.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.p5 {
  background-image: url(../assets/p5.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.p6 {
  background-image: url(../assets/p6.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.p7 {
  background-image: url(../assets/p7.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.p8 {
  background-image: url(../assets/p8.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.p9 {
  background-image: url(../assets/p9.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.subtitle {
  margin-top: -150px;
  margin-left: -20px;
  width: 75%;
  height: 28%;
  opacity: 0;
  -webkit-transform: translate3d(50px, 0, 0);
  transform: translate3d(50px, 0, 0);
  -webkit-transition: all 250ms linear;
  -o-transition: all 250ms linear;
  transition: all 250ms linear;
  visibility: hidden;
  pointer-events: none;
  color: white;
  background: rgb(28, 28, 28);
}

.focus:hover + .subtitle {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
