@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #161616;
  color: #fff7e9;
}

::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #aaaaaa;
  border-radius: 0px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: grey;
}

.manrope {
  font-family: manrope;
}

@font-face {
  font-family: manrope;
  src: url(../../public/Manrope-VariableFont_wght.ttf);
}

.outward {
  font-family: outward;
}

@font-face {
  font-family: outward;
  src: url(../../public/outward-block.ttf);
}

.marie {
  font-family: marie;
}

@font-face {
  font-family: marie;
  src: url(../../public/StMarie-Thin.otf);
}

.relieve {
  font-family: relieve;
}

@font-face {
  font-family: relieve;
  src: url(../../public/Relieve.ttf);
}

.soria {
  font-family: soria;
}

@font-face {
  font-family: soria;
  src: url(../../public/soria-font.ttf);
}

.league {
  font-family: league;
}
@font-face {
  font-family: league;
  src: url(../../public/LeagueGothic-Regular.ttf);
}

.cooper {
  font-family: cooper;
}
@font-face {
  font-family: cooper;
  src: url(../../public/CooperHewitt-Bold.otf);
}

.rakkas {
  font-family: rakkas;
}
@font-face {
  font-family: rakkas;
  src: url(../../public/Rakkas-Regular.ttf);
}

.abril {
  font-family: abril;
}

@font-face {
  font-family: abril;
  src: url(../../public/AbrilFatface-Regular.ttf);
}

.dmserif {
  font-family: dmserif;
}

@font-face {
  font-family: dmserif;
  src: url(../../public/DMSerifText-Regular.ttf);
}

.onblack {
  font-family: onblack;
}

@font-face {
  font-family: onblack;
  src: url(../../public/WhiteOnBlack.ttf);
}

.fixedCenterY {
  top: 50%;
  transform: translateY(-50%);
}

.fixedCenterX {
  left: 50%;
  transform: translateX(-50%);
}

.fixedCenterXnY {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fixedCenterXnY2 {
  top: 50%;
  left: 47%;
  transform: translate(-50%, -50%);
}

.fixedCenterXnY3 {
  top: 50%;
  left: 43%;
  transform: translate(-50%, -50%);
}

.containerCard:hover .bright {
  --tw-brightness: brightness(95%);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast)
    var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate)
    var(--tw-sepia) var(--tw-drop-shadow);
}

.card_bg1 {
  background-image: url(../assets/card_bg1.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.card_bg2 {
  background-image: url(../assets/card_bg2.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.card_bg3 {
  background-image: url(../assets/card_bg3.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.project_bg1 {
  background-image: url(../assets/project_bg1.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.project_bg2 {
  background-image: url(../assets/project_bg2.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.project_bg3 {
  background-image: url(../assets/project_bg3.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.loader {
  font-size: 2px;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.glass {
  /* From https://css.glass */
  background: #161616;
}
